<% content_for :title, "Editing project" %>

<div class="new-project-container">
  <h1 style="text-align: center;">Editing project</h1>

  <%= render "form", project: @project %>
</div>

<br>

<div>
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>
